#container {
  padding: 0 15%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

textarea {
  margin-bottom: 1rem;
  resize: vertical;
  height: 20%;
}

button {
  align-self: baseline;
}
